---
http_interactions:
- request:
    method: get
    uri: https://api.nbrb.by/exrates/rates/INVALID?ondate=2024-01-10&parammode=2&periodicity=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.4","title":"Not
        Found","status":404,"traceId":"|d35e47e7-495c8611f25c12bd."}'
  recorded_at: Mon, 11 Aug 2025 19:19:53 GMT
recorded_with: VCR 6.3.1
